<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>" />
  <label for="">Email:
    <input type="text" name="user[email]" id="" value="" />
  </label>
  <label for="">Password
    <input type="password" name="user[password]" id="" value="" />
  </label>
  <input type="submit" name="" id="" value="<%= button_text %>" />
</form>
