<button id="new-story-button">
  Submit New Article
</button>

<form class="hidden" id="new-story-form">
  <label for="">URL:</label>
  <input type="text" name="url" id="url" value="" placeholder="www..." />
  <br/>
  <label for="">Title:</label>
  <input type="text" name="title" id="title" value="" placeholder="Vanuatu police..." />
  <br/>
  <label for="">Description:</label>
  <textarea name="description" id ="description" rows="8" cols="40"></textarea>
  <input type="submit" name="" id="" value="Submit Article" />
  <button id="cancel-submission">Cancel Submission</button>
</form>
